$path-icons: '/admin/img/icons';

//.icon-whatsapp {
//    display: block;
//    width: 18px;
//    height: 18px;
//    background-image: url('#{$path-icons}/whatsapp.svg');
//    background-position: center;
//    background-size: contain;
//    background-repeat: no-repeat;
//}

//.icon-viber { // icon-vaber
//    display: block;
//    width: 18px;
//    height: 18px;
//    background-image: url('#{$path-icons}/viber.svg');
//    background-position: center;
//    background-size: 18px;
//    background-repeat: no-repeat;
//}

//.fa-viber {
//    display: block;
//    height: 34px;
//    width: 34px;
//    padding: 6px 12px;
//    background-image: url('#{$path-icons}/viber.svg');
//    background-position: center;
//    background-size: 18px;
//    background-repeat: no-repeat;
//}

//.fa-viber-white {
//    display: block;
//    height: 34px;
//    width: 34px;
//    padding: 6px 12px;
//    background-image: url('#{$path-icons}/viber-white.svg');
//    background-position: center;
//    background-size: 22px;
//    background-repeat: no-repeat;
//}

.icon-arrow { // .icon-right-arrow
    display: block;
    width: 18px;
    height: 18px;
    background-image: url('#{$path-icons}/arrow.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-city {
    display: block;
    width: 18px;
    height: 18px;
    background-image: url('#{$path-icons}/location.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.btn-viber-white {
    background-color: #8e24aa;
}

.btn-telegram {
    background-color: #55abee;
    .fa-telegram {
        color: white;
    }
}

.btn-whatsapp {
    background-color: #51a93b;
    .fa-whatsapp {
        color: white;
        font-size: 23px;
    }
}

.btn-tiktok {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    border: 1px solid #d2d6de;
    svg {
        width: 20px;
        height: 20px;
        fill: #000000;
        margin-top: 6px;
    }
}

.btn-instagram {
    height: 34px;
    width: 34px;
    border: 1px solid #d2d6de;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}


