.select2-container--default {
    .select2-results > .select2-results__options {
        &::-webkit-scrollbar { width: 5px; }
        &::-webkit-scrollbar-thumb { background-color: #c1c1c1; }
        &::-webkit-scrollbar-button { height: 0; }
        &::-webkit-scrollbar-track-piece { background-color: #ffffff;}
    }
}

.login-box {
	margin: 7% auto;
}

.toasts-top-right {
	left: 50%;
	top: 1%;
	transform: translateX(-50%);
	.toast {
		margin: 0 auto;
		&-body {
			font-size: 16px;
		}
	}
	li {
		list-style-type: none;
	}
}

.toast.bg-success {
    font-size: 1.2em;
    .fa-check {
        font-size: 1.4em;
    }
}


.message {
	display: none;
}

.card-custom-tabs {
    .nav-item {
        &:first-child {
            .nav-link {
                border-left: 0;
                margin-left: 0;
            }
        }
        a {
            border-top: 3px solid transparent;
            &.active {
                border-top: 3px solid #007bff;
            }
        }
    }
}

.content-wrapper {
    padding-bottom: 100px;
}

.modif-block-box {
    .custom-control-label {
        &:before, &:after {
            left: -1.3rem;
        }
    }
}

.block-title {
    position: relative;
    .saved {
        position: fixed;
        right: 10px;
        z-index: 2;
    }
}

.dropdown-menu {
    left: inherit;
    right: 0px;
}

.custom-chat {
    display: flex;
    flex-direction: column;
    .direct-chat-msg {
        &:first-child {
            margin-top: auto;
        }
    }
}

.custom-select {
    & + .select2 {
        width: 180px!important;
    }
}

body, .form-control, .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #212529;
}

.form-group, .custom-font-table  {
    label, th {
        font-weight: 400!important;
    }
    input, textarea, td input, td {
        font-weight: 700!important;
        &::placeholder {
            font-weight: 400!important;
        }
    }
}

.custom-font-weight {
    & + .select2 {
        .select2-selection__rendered {
            font-weight: 700;
        }
    }
}

@media screen and (min-width: 992px) {
    .custom-select {
        & + .select2 {
            width: 250px!important;
        }
    }
}


@media screen and (min-width: 1200px) {
    .block-title {
        .saved {
            right: 20%;
        }
    }
}

.alert {
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;
	padding: 10px;
	h4 {
		margin-bottom: 0;
	}
	.close {
		right: 0;
	}
}

.add-img {
	width: 200px;
	margin: 0 auto;
	display: flex;
}

.empty-photo {
    position: relative;
    width: 200px;
    height: 200px;
}

.max-width {
	max-width: 1200px;
}

.load-photo {
    background: #dedede;
    border-radius: 0;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    background-size: contain;
    position: relative;
    color: #898889;
    height: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0;
}

.main-photo {
    width: 90%;
	height: 160px;
    position: relative;
    .removeImage {
    	position: absolute;
    	font-size: 28px;
    	line-height: 28px;
    	right: -16px;
    	top: -8px;
    	color: #dd4b39;
    }
    .removeImage:hover {
    	color: #d33724;

    }
    img {
    	height: 100%;
    	width: 100%;
    	object-fit: contain;
    }
}

.old-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.btn-styles {
	padding: 1px 14px 1px 3px;
	i {
		width: 32px;
    	line-height: 34px;
    	text-align: center;
    	border-right: 1px solid rgba(0, 0, 0, 0.2);
    	margin-right: 10px;
	}
}

 .slide-title {
 	width: 100%;
 	display: block;
     padding-bottom: 5px;
     font-size: 15px;
 	font-weight: 600;
 }

.size-photo {
	height: 125px;
}

 .fa-telegram {
     color: #55abee;
 }

 .fa-whatsapp {
     color: #7ad06d;
     font-size: 20px;
 }

.fa-viber {
    color: #7B32D8;
}

 .check {
     display: flex;
     margin-left: 15px;
     &__item {
         &:last-child {
             label {
                 margin-right: 0;
             }
         }
         input {
             display: none;
             position: relative;
             & + label {
                 display: inline-block;
                 margin-bottom: 0;
                 border-radius: 5px;
                 padding: 2px;
                 margin-right: 10px;
                 font-size: 18px;
                 line-height: 18px;
                 cursor: pointer;
                 span, i {
                     display: block;
                     //width: 20px;
                     //height: 20px;
                     transition-duration: 0.5s;
                     filter: grayscale(100%);
                     opacity: 0.8;
                 }
                 span.fa-viber {
                     opacity: 0.6;
                 }
             }
             &.viber:checked + label {
                 span {
                     filter: grayscale(0%);
                     opacity: 1;
                     transform: scale(1.2);
                 }
             }
             &.whatsapp:checked + label {
                 //transform: translateY(-2px);
                 -moz-transform: translateY(-2px);
                 span {
                     filter: grayscale(0%);
                     opacity: 1;
                     transform: scale(1.2);
                 }
             }
             &.telegram:checked + label {
                 span {
                     filter: grayscale(0%);
                     opacity: 1;
                     transform: scale(1.2);
                 }
             }
         }
     }
 }

.add-img-block {
	width: 100%;
	&__input-photo {
		width: 100%;
		height: 160px;
	}
	&__load {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 20px;
		margin-bottom: 0;
		background: #dedede;
		border-radius: 0;
		color: #898889;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

.find-block {
	clear: both;
	border-top: 1px solid #f2f3f6;
	border-bottom: none;
	border-radius: 0;
	.with-border {
		border-bottom: none;
	}
	.box-title {
		font-weight: 600;
	}
	.box-header {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		border-top: 1px solid #00c0ef;
		border-bottom: 1px solid #f4f4f4;
		background-color: #fdfdfd;
		cursor: default;
	}
	&--blue {
		border-color: #007bff;
	}
}

.required-star {
    position: relative;
    &:before {
        content: "*";
        font-size: 14px;
        display: block;
        position: absolute;
        top: -5px;
        left: calc(100% + 2px);
        color: red;
    }
}

.wm-table-min {
	td, th {
		min-width: 200px;
		text-align: center;
		&.wm-small-width {
			min-width: 100px;
		}
	}
}

@media screen and (min-width: 576px) {
	.wm-table-min {
		td, th {
			min-width: auto;
			&.wm-small-width {
				min-width: auto;
			}
		}
	}
}

 .group--min {
     display: flex;
     align-items: center;
     margin-bottom: 10px;
 }

 .group--min .form-group {
     margin-bottom: 0;
 }

 .group--min .form-control {
     width: 125px;
     padding: 6px 8px;
 }

 .group--min .form-control--tiny {
     width: 100px;
     max-width: 0;
     display: none;
     opacity: 0;
     transition: max-width 0.2s ease-in-out;
     margin: 10px 0 0 0;
 }

 .group--min .form-control--tiny.is-active {
     max-height: initial;
     max-width: 100px;
     display: block;
     opacity: 1;
 }

 .group--min .check {
     padding-left: 4px;
 }

 .group--min .check__item:last-child label {
     margin-right: 0;
 }

 .group--min .check__item label {
     margin-bottom: 0;
     border: none;
     box-shadow: none;
     //padding: 4px;
 }

 .group--min .form-control--tiny {
     margin: 0;
     margin-left: 15px;
 }

#upload-demo{
    width: 350px;
    height: 350px;
    padding-bottom:25px;
}

.modal-center {
    text-align: center;
    padding: 0!important;
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}

 .min-content-currency {
     &:first-child {
         margin-left: -10px;
     }
     .form-control {
         text-align: center;
         padding: 6px 5px;
     }
     .input-group-prepend,
     .input-group-append,
     .input-group-text{
         border: none;
         background-color: inherit;
         &:last-child {
             font-size: 12px;
         }
         &--span {
             min-width: 75px;
         }
     }
 }

 @media screen and (min-width: 1200px) {
     .custom--max-width {
         width: 745px;
     }
     .min-content-currency {
         float: left;
         width: 28%;
         padding-left: 15px;
         padding-right: 15px;
         .input-group {
             width: 100%;
         }
     }
 }

 .cursor-pointer {
     cursor: pointer;
 }
