.navbar {
  background-color: white;
  box-shadow: 0 0 5px 5px rgb(0 0 0 / 10%);
}

.navbar-font {
  font-size: 23px !important;
}

.nav-link {
  color: #030712 !important;
}

.nav-link:hover {
  color: #3367D6 !important;
}

.dropdown-item {
  color: #3b3c93;
}