body {
  //background-image: url("/../background.jpg");
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: whitesmoke;
}

html { overflow-y:scroll; }

html,body {
  height: 100%;
}

.slick-next:before {
  color: black !important;
  font-size: 2.5rem !important;
}

.slick-prev:before {
  position: relative;
  color: black !important;
  font-size: 2.5rem !important;
  left: -20px;
}

.navbar {
  background-color: white;
  box-shadow: 0 0 5px 5px rgb(0 0 0 / 10%);
  z-index: 1000;
}

.navbar-font {
  font-size: 23px !important;
}

.nav-link {
  color: #030712 !important;
}

.nav-link:hover {
  color: #3367D6 !important;
}

.dropdown-item {
  color: #3b3c93;
}

.overlay_container {
  position: relative;
  margin: 0;
  height: 100%;
}

.overlay_image {
  width: 100%;
  max-height: 500px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
}

.footer {
  bottom: 0;
  width: 100%;
  margin-top: auto;
  padding: 40px;
  background-color: white;
  box-shadow: 0 0 3px 3px rgb(0 0 0 / 10%);
}

.slideimage {
  width: inherit;
  margin: auto;
  max-height: 1000px;
  object-fit: contain;
}

.component_content {
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  height: 100%;
}

.header_text {
  margin-right: auto;
  margin-left: auto;
}

.carousel {
  margin: auto;
  max-height: 1000px;
}

.card {
  position: relative;
  overflow: hidden;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.card:hover .card-img-overlay {
  opacity: 1;
}

.fa-play-circle {
  font-size: 60px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 70px;
  transition: transform 0.5s ease;
}

.logo {
  max-width: 150px;
  margin-top: -5px;
}

video::-webkit-media-controls-volume-slider {
  display: none;
}

video::-webkit-media-controls-mute-button {
  display: none;
}